<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSYS.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <MSYS.Web.Properties.Settings>
            <setting name="MSYS_Web_MasterService_MisMasterDataServiceInterfaceService"
                serializeAs="String">
                <value>http://10.43.171.22:8081/xymis/services/MisMasterDataService</value>
            </setting>
            <setting name="MSYS_Web_EquipService_EquipServiceInterfaceService"
                serializeAs="String">
                <value>http://10.43.171.22:8081/xymis/services/EquipService</value>
            </setting>
            <setting name="MSYS_Web_MateriaService_WsBaseDataInterfaceService"
                serializeAs="String">
                <value>http://10.43.171.22:8081/xymis/services/baseDataService</value>
            </setting>
            <setting name="MSYS_Web_StoreService_StoreServiceInterfaceService"
                serializeAs="String">
                <value>http://10.43.171.22:8081/xymis/services/StoreService</value>
            </setting>
            <setting name="MSYS_Web_PlanService_WsPlanForGSInterfaceService"
                serializeAs="String">
                <value>http://10.43.171.22:8081/xymis/services/planForGSService</value>
            </setting>
        </MSYS.Web.Properties.Settings>
    </applicationSettings>
</configuration>