<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../css/error.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/jquery.js"></script>

<script language="javascript">
    $(function () {
        $('.error').css({ 'position': 'absolute', 'left': ($(window).width() - 300) / 2 });
        $(window).resize(function () {
            $('.error').css({ 'position': 'absolute', 'left': ($(window).width() - 300) / 2 });
        })
    });  
</script> 


</head>
<body>
    <form id="form1" runat="server">
	
    
    <div class="error">
    
    <h2>请设置查询条件后，查看报表内容！！！</h2>
  
   
    
    </div>
    </form>
</body>
</html>
