@charset "utf-8";

*{font-size:9pt;border:0;margin:0;padding:0;}
html, body{  padding:0px; margin:0 auto;min-width:980px; }

ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}



.place{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}



.mainbox{ width: 100%;    position: absolute;    top: 0px;    bottom: 0px;}

#flowdiv{ position:absolute; width: 100%;  top: 45px; left: 0px; bottom: 0px;}
#FlowFrame
{
    position:absolute; width: 100%;  height:100%;
}
.hotArea:hover{ background-color:rgba(255,100,100,0.2);}
/*MainFlow*/
.mainflow{background-position: center center; position:absolute; width: 100%; background-image: url(../images/flowChart/All.png); background-repeat: no-repeat;  background-size: 100% 100%;top: 0px; left: 0px; bottom: 0px;}
.btnBack{position: absolute; border:solid 1px #a7b5bc;top:92%;left:90%;width:110px;height:35px;  font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
.areaZZGS1{    position: absolute;    top: 0%;    left: 85%;    width:14%;    height:44%;    cursor:pointer;}
.areaZZGS2{    position: absolute;    top: 22%;    left: 37%;    width:45%;    height:28%;    cursor:pointer;}
.areaZZGS3{    position: absolute;    top: 52%;    left: 48%;    width:35%;    height:45%;    cursor:pointer;}
.areaZZGS4{    position: absolute;    top: 52%;    left: 0%;    width:46%;    height:45%;    cursor:pointer;}
.areaZZGS5{    position: absolute;    top: 22%;    left: 0%;    width:37%;    height:28%;    cursor:pointer;}


/*ZZGS1flow*/
.ZZGS1flow{background-position: center center; position:absolute; width: 100%; background-image: url(../images/flowChart/ZZGS1.png); background-repeat: no-repeat;  background-size: 100% 100%;top: 0px; left: 0px; bottom: 0px;}
.GS1_areaDev1{    position: absolute;    top: 10%;    left: 25%;    width:15%;    height:20%;    cursor:pointer; }
.GS1_areaDev2{    position: absolute;    top: 40%;    left: 44%;    width:15%;    height:20%;    cursor:pointer;}
.GS1_areaDev3{    position: absolute;    top: 80%;    left: 52%;    width:15%;    height:20%;    cursor:pointer;}


/*ZZGS2flow*/
.ZZGS2flow{background-position: center center; position:absolute; width: 100%; background-image: url(../images/flowChart/ZZGS2.png); background-repeat: no-repeat;  background-size: 100% 100%;top: 0px; left: 0px; bottom: 0px;}
.GS2_areaDev1{    position: absolute;    top: 0%;    left: 73%;    width:10%;    height:15%;    cursor:pointer;}
.GS2_areaDev2{    position: absolute;    top: 0%;    left: 60%;    width:10%;    height:15%;    cursor:pointer;}
.GS2_areaDev3{    position: absolute;    top: 20%;    left: 38%;    width:5%;    height:20%;    cursor:pointer;}
.GS2_areaDev4{    position: absolute;    top: 39%;    left: 38%;    width:5%;    height:10%;    cursor:pointer;}
.GS2_areaDev5{    position: absolute;    top: 40%;    left: 55%;    width:5%;    height:10%;    cursor:pointer;}
.GS2_areaDev6{    position: absolute;    top: 40%;    left: 60%;    width:5%;    height:10%;    cursor:pointer;}



/*ZZGS3flow*/
.ZZGS3flow{background-position: center center; position:absolute; width: 100%; background-image: url(../images/flowChart/ZZGS3.png); background-repeat: no-repeat;  background-size: 100% 100%;top: 0px; left: 0px; bottom: 0px;}
.GS3_areaDev1{    position: absolute;    top: 15%;    left: 77%;    width:7%;    height:12%;    cursor:pointer;}
.GS3_areaDev2{    position: absolute;    top: 27%;    left: 80%;    width:7%;    height:12%;    cursor:pointer;}
.GS3_areaDev3{    position: absolute;    top: 18%;    left: 50%;    width:5%;    height:15%;    cursor:pointer;}
.GS3_areaDev4{    position: absolute;    top: 32%;    left: 26%;    width:5%;    height:10%;    cursor:pointer;}
.GS3_areaDev5{    position: absolute;    top: 60%;    left: 5%;    width:5%;    height:10%;    cursor:pointer;}


/*ZZGS4flow*/
.ZZGS4flow{background-position: center center; position:absolute; width: 100%; background-image: url(../images/flowChart/ZZGS4.png); background-repeat: no-repeat;  background-size: 100% 100%;top: 0px; left: 0px; bottom: 0px;}
.GS4_areaDev1{    position: absolute;    top: 0%;    left: 83%;    width:17%;    height:24%;    cursor:pointer;}
.GS4_areaDev2{    position: absolute;    top: 62%;    left: 74%;    width:17%;    height:24%;    cursor:pointer;}
.GS4_areaDev3{    position: absolute;    top: 63%;    left: 37%;    width:6%;    height:12%;    cursor:pointer;}
.GS4_areaDev4{    position: absolute;    top: 10%;    left: 20%;    width:6%;    height:12%;    cursor:pointer;}
.GS4_areaDev5{    position: absolute;    top: 2%;    left: 3%;    width:6%;    height:12%;    cursor:pointer;}


/*ZZGS5flow*/
.ZZGS5flow{background-position: center center; position:absolute; width: 100%; background-image: url(../images/flowChart/ZZGS5.png); background-repeat: no-repeat;  background-size: 100% 100%;top: 0px; left: 0px; bottom: 0px;}
.GS5_areaDev1{    position: absolute;    top: 60%;    left: 25%;    width:7%;    height:15%;    cursor:pointer;}
.GS5_areaDev2{    position: absolute;    top: 62%;    left: 32%;    width:15%;    height:20%;    cursor:pointer;}
.GS5_areaDev3{    position: absolute;    top: 7%;    left: 54%;    width:50%;    height:80%;    cursor:pointer;}










