@charset "utf-8";

*{font-size:9pt;border:0;margin:0;padding:0;}
body{font-family:'微软雅黑'; margin:0 auto;min-width:980px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}





/*right.html*/
.place{height:40px; background:url(../images/righttop.gif) repeat-x;}
.place span{line-height:40px; font-weight:bold;float:left; margin-left:12px;}
.placeul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background:none;}
.rightinfo{padding:8px;}
.tools{clear:both; height:35px; margin-bottom:8px;margin-top:8px;}
.toolbar{float:left;}
.toolbar li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px; behavior:url(js/pie.htc); cursor:pointer;}
.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.toolbar1{float:right;}
.toolbar1 li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-left:5px;border-radius: 3px; behavior:url(js/pie.htc);}
.toolbar1 li span{float:left; margin-left:10px; margin-right:5px; margin-top:5px;}
.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both;}
.tablelist th{background:url(../images/th.gif) repeat-x; height:28px; line-height:28px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}
.tablelist td{line-height:28px; text-indent:11px; border-right: dotted 1px #c7c7c7;}
.tablelink{color:#056dae;}
.tablelist tbody tr.odd{background:#f5f8fa;}
.tablelist tbody tr:hover{background:#e5ebee;}
.sort{padding-left:3px;}



/*default*/
.mainbox{padding:8px;position:relative;
    top: 0px;
    left: 0px;
    height:100%;
}
/*.mainleft{padding-right:298px;}
.mainright{width:298px;position:absolute; top:8px; right:8px;}*/
.mainleft{width:200px;position:absolute; top:8px; left:8px;float:left;}
.mainright{margin-left:220px !important;
   margin-left:26%; 
 /*  height:auto !important; */ }
.leftinfo{border:#d3dbde solid 1px; height:550px;margin-right: 5px;position:relative;}
.dfsublist{border:#d3dbde solid 1px; position:relative;width:95%; float:left;margin-top:10px;margin-left:10px;}
.dflist{border:#d3dbde solid 1px; position:relative;width:95%; float:left;}
.framelist{border:#d3dbde solid 1px; position:relative;width:90%; float:left;}
.dflist1{border:#d3dbde solid 1px; width:288px; height:238px; float:right; margin-top:8px;}
.listtitle{background:url(../images/tbg.png) repeat-x; height:36px; line-height:36px; border-bottom:solid 1px #d3dbde; text-indent:14px; font-weight:bold; font-size:14px;}
.more1{float:left; font-weight:normal;color:#307fb1; padding-right:17px;}
.maintj{text-align:center;}
.newlist{padding-left:14px; padding-top:15px;}
.newlist li{line-height:25px; background:url(../images/list2.png) no-repeat 0px 8px; text-indent:11px;}
.newlist i{width:80px; display:block; float:left; font-style:normal;}
.newlist b{font-weight:normal; color:#7b7b7b; padding-left:10px;}
.leftinfos{height:238px;margin-top:8px;}
.infoleft{border:#d3dbde solid 1px; float:left;height:238px;}
.inforight{border:#d3dbde solid 1px; float:right;height:238px; }
.tooli{padding:30px 20px;}
.tooli li{float:left;padding-left:15px; padding-right:15px;margin-bottom:20px;}
.tooli li span{text-align:center;}
.tooli li p{line-height:35px; text-align:center;}


/*form*/
.formbody{padding:10px 18px;}
.formtitle{border-bottom:solid 1px #d0dee5; line-height:35px; position:relative; height:35px; margin-bottom:28px;}
.formtitle span{font-weight:bold;font-size:14px; border-bottom:solid 3px #66c9f3;float:left; position:absolute; z-index:100; bottom:-1px; padding:0 3px; height:30px; line-height:30px;}
.forminfo{padding-left:23px;}
.forminfo li{margin-bottom:13px; clear:both;}
.forminfo li label{width:86px;line-height:34px; display:block; float:left;}
.forminfo li i{color:#7f7f7f; padding-left:20px; font-style:normal;}
.forminfo li cite{display:block; padding-top:10px;}
.dfinput{width:345px; height:25px; line-height:25px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.dfinput1{width:150px; height:20px; line-height:20px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.tbinput{width:70px; height:20px; line-height:20px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.tbinput1{width:100px; height:20px; line-height:20px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}

.drpdwnlist
{
    border: thin ridge #CCCCFF;
    width: 150px;
    color: #000;
    background-color: #FFFFFF;
    overflow: scroll;
    visibility: visible;
}
.textinput{border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; padding:10px; width:504px; height:135px; line-height:20px; overflow:hidden;}
.btn{width:137px;height:35px; background:url(../images/btnbg.png) no-repeat; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;}


/*tip*/
.tip{width:485px; height:240px; position:absolute;top:10%; left:30%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); display:none; z-index:111111;}
.product{width:600px; height:380px; position:absolute;top:10%; left:20%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); display:none; z-index:111111;}
.tiptop{height:40px; line-height:40px; background:url(../images/tcbg.gif)  repeat-x; cursor:pointer;}
.tiptop span{font-size:14px; font-weight:bold; color:#fff;float:left; text-indent:20px;}
.tiptop a{display:block; background:url(../images/close.png) no-repeat; width:22px; height:22px;float:right;margin-right:7px; margin-top:10px; cursor:pointer;}
.tiptop a:hover{background:url(../images/close1.png) no-repeat;}
.tipinfo{padding-top:30px;margin-left:65px; height:95px;}
.productinfo{padding-top:5px;margin-left:10px; height:210px;width:550px;margin-bottom:10px;}
.tipinfo span{width:95px; height:95px;float:left;}
.tipright{float:left;padding-top:15px; padding-left:10px;}
.tipright p{font-size:14px; font-weight:bold; line-height:35px;}
.tipright cite{color:#858686;}
.tipbtn{margin-top:25px; margin-left:125px;}
.sure ,.cancel{width:96px; height:35px; line-height:35px; color:#fff; background:url(../images/btnbg1.png) repeat-x; font-size:14px; font-weight:bold;border-radius: 3px; cursor:pointer;}
.cancel{background:url(../images/btnbg2.png) repeat-x;color:#000;font-weight:normal;}


/*error 404*/
.error{background:url(../images/404.png) no-repeat; width:490px; margin-top:75px;padding-top:65px;}
.error h2{font-size:22px; padding-left:154px;}
.error p{padding-left:154px; line-height:35px;color:#717678;}
.reindex{padding-left:154px;}
.reindex a{width:115px; height:35px; font-size:14px; font-weight:bold; color:#fff; background:#3c95c8; display:block; line-height:35px; text-align:center;border-radius: 3px; behavior:url(js/pie.htc);margin-top:20px;}



/*tab*/
.itab{height:36px; border-bottom:solid 1px #d0dee5; position:relative; border-left:solid 1px #d3dbde;}
.itab ul li{float:left;height:37px; line-height:37px; background:url(../images/itabbg.png) repeat-x; border-right:solid 1px #d3dbde;}
.itab ul li a{font-size:14px; color:#000; padding-left:25px; padding-right:25px;}
.itab ul li a.selected{ height:37px; display:block; background:url(../images/itabbg1.png) repeat-x; font-weight:bold;}
.tabson{margin:18px 0px;}
.formtext{height:45px; padding-left:25px; line-height:20px; color:#848383;}
.formtext b{color:#d70101;}
.forminfo b{color:#ea2020; padding-left:3px;}



             
/*btn*/
.btnred{ width: 50px; height: 20px;background: no-repeat;font-size: 12px; font-weight: bold;
    color: #FFFFFF; cursor: pointer; background-color: #993333;}
.btngrey{width: 50px; height: 20px;background: no-repeat;font-size: 12px;font-weight: bold;
    color: #FFFFFF;  background-color: #F4F4F4;}
.btn1{width:50px;height:20px; background:url(../images/btnbg.png) no-repeat; font-size:12px;font-weight:bold;color:#fff; cursor:pointer;}
.btnSelect{width:140px;height:35px; background:#fcfdfd; font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
.btnUnsel{width:140px;height:35px; background:url(../images/btnbg.png) no-repeat; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;}
.btnadd{border:solid 1px #a7b5bc;width:80px;height:35px; background:url(../images/t01.png) no-repeat; font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
.btnmodify{border:solid 1px #a7b5bc;width:80px;height:35px; background:url(../images/t02.png) no-repeat; font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
.btndel{border:solid 1px #a7b5bc;width:80px;height:35px; background:url(../images/t03.png) no-repeat; font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
.btnview{border:solid 1px #a7b5bc;width:80px;height:35px; background:url(../images/t04.png) no-repeat; font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
.btnset{border:solid 1px #a7b5bc;width:80px;height:35px; background:url(../images/t05.png) no-repeat; font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
.btnhide{ display: none;}
.btnpatch{border:solid 1px #a7b5bc;width:80px;height:35px; background:url(../images/leftico03.png) no-repeat; font-size:14px;font-weight:bold;color:#000; cursor:pointer;}
/* 状态框 */
.labstatu{height: 20px; background: #993333;  font-size: 12px; font-weight: bold;color: #fff;
    border-radius: 10px;    line-height: 20px;}
.labstatuGreen{height: 20px; background: #119911;  font-size: 12px; font-weight: bold;color: #fff;
    border-radius: 10px;    line-height: 20px;}
/*gridview1*/
.datable {background-color: #9FD6FF; color:#333333; font-size:12px;}
.datable tr {height:25px;}
.datable .lup {background-color: #C8E1FB;font-size: 12px;color: #014F8A;}
.datable .lup th {border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF;font-weight: normal;}
.datable .lupbai {background-color: #FFFFFF;}
.datable .trnei {background-color: #F2F9FF;}
.datable td {border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF;}
/*gridview2*/
.grid{border:solid 1px #cbcbcb; width:100%; clear:both;}
.gridheader{background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}
.gridrow{line-height:25px; text-indent:11px; border-right: dotted 1px #c7c7c7;background-color: #FFFFFF;}
.gridalterrow{line-height:25px; text-indent:11px; border-right: dotted 1px #c7c7c7; background-color: #F2F9FF;}


/*Approvaltable*/
.aprvtablelist
{
    border: 3px solid #990000;
    width: 100%;
    clear: both;
}
.aprvtablelist th
{
    height: 50px;
    border-bottom: solid 1px #b6cad2;
    text-indent: 18px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #990000;
    font-size: xx-large;
    font-weight: normal;
}
.aprvtablelist td
{
    height: 35px;
    text-indent: 14px;
    border-right: dotted 1px #c7c7c7;
    border: 1px solid #990000;
    font-size: medium;
    font-weight: normal;
}
.aprvtxt
{
    line-height: 25px;
    text-indent: 12px;
    border-style: none;
    font-size: 14px;
    height: 30px;
    width: 98%;
}

/*Aprvinfo*/
.aprvinfo{width:700px; height:300px; position:absolute;top:10%; left:10%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); display:none; z-index:111111;}
.flowinfo{padding-top:5px;margin-left:10px; }
.aprvclickbtn{width:80px;height:20px; background:url(../images/btnbg.png) no-repeat; font-size:12px;font-weight:bold;color:#fff; cursor:pointer;}

.userbox{width:200px; height:120px; position:absolute;top:10%; left:10%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); display:none; z-index:111111;}

/*弹出编辑框*/
.shade{position:absolute;width:100%; height:100%; margin:0px;top:0;left:0; background: rgba(0, 0, 0, 0.2);display:none; z-index:111111;}
.info{width:800px; height:350px; position:absolute;top:10%; left:15%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc); }
.tiphead{height:40px; line-height:40px;position:absolute;width:100%; background:url(../images/tcbg.gif)  repeat-x; cursor:pointer;}
.tiphead span{font-size:14px; font-weight:bold; color:#fff;float:left; text-indent:20px;}
.tiphead a{display:block; background:url(../images/close.png) no-repeat; width:22px; height:22px;float:right;margin-right:7px; margin-top:10px; cursor:pointer;}
.tiphead a:hover{background:url(../images/close1.png) no-repeat;}
.gridinfo{position:absolute;top:50px;left:10px; padding:5px; margin-right:10px; }
.shadebtn{position:relative; top:20px; }
.gridtools
{
    position: relative;
    clear: both;
    height: 32px;
    padding: 3px;
    background-color: #F2F2FF;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom-style: solid;
    border-bottom-color: #cbcbcb;
}


/*提示框字体*/
.hintfont{ color:Gray;}
.showfont{color:Black; }


.configmainleft{width:250px;position:absolute; top:8px; left:8px;float:left;}
.configmainright{margin-left:268px !important;
   margin-left:26%; 
 /*  height:auto !important; */ }


/*picdataTable*/
.staticHead {color: #000000; font-size: 12; }
.staticHeadtext {color: #000000; font-size: 12px; }
.staticRow {	color: #344b50;	font-size: 12px;}

